@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');

:root{
    --main-color:#ca8225c2;
    --black:#555;
    --light-color:#777;
    --bg:rgb(46, 46, 45);
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    transition: all .3s ease-out;
}

*::selection{
    background:var(--main-color);
    color:#fff;
}

html{
    font-size: 62%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
 }

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background: var(--light-color);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

section{
    padding:2rem 9%;
}

h1{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4rem;
    color:var(--main-color);
}

h1 span{
    color:var(--main-color);
    border-radius: .5rem;
    background: var(--bg);
    padding:0 1.5rem;
}

header{
    /*position: fixed;*/
    top:0; left:0; right: 0;
    z-index: 1000;  
    background: var(--bg);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:4rem 10%;
}

header .navbar a img{
    height: auto;
    width: 150px;
}

header .navbar a{
    font-size: 1.7rem;
    color: var(--main-color);
    margin-left: 2rem;
}

header .navbar a:hover{
    color: #ff9100;
}


footer{
    background: var(--bg);
    color: var(--main-color);
    text-align: center;
    padding: 4rem;
    margin-top: 2rem;
    font-size: 2rem;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
}

.rinda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .rinda img {
    width: 30%;
    height: auto;
    margin: 0 10px;
  }